@model IEnumerable<ChatWithSignalRAndWinServMVC.Web.Common.ViewModels.ChatViews.ChatItemView>
<h3>Available chats</h3>
<div class="list-group">
    @if (Model != null)
    {
        foreach (var chat in Model)
        {
            <button type="button" class="list-group-item list-group-item-action" id="button_chatid_@chat.Id" onclick="gotToChatMessages('@chat.Id')">
                <b>@chat.ChatName</b>
                @if (chat.FirstMessage != null)
                {
                    <p>
                        <i>@chat.FirstMessage.Sender.UserName @chat.FirstMessage.SendDate.ToString()</i><br>
                        @chat.FirstMessage.Text
                    </p>
                }
            </button>
        }
    }
</div>
<script>
    function gotToChatMessages(chatId) {
        document.location = `@Url.Action("ChatMessages", "Chat")?chatId=${chatId}`;
    }
</script>